body{
    background-color: green;
}

.bg-color{
    background-color: green;
}

.title{
    margin-right: -87px;
    color: tomato;
    font-size: 50px;
    
}

.paragraph{
    margin-left: 200px;
    margin-top: 5px;
}

.card-bg{
    background-color: green;
    border: solid 1px white;
}

/* Card button backgraund */
.card-bg button{
    background-color: red;
}

/* Player image height */
.players-image{
    height: 285px;
}

.select-button{
    width: 90%;
}


.budget{
    margin-top: 70px;
}

.calculate-button{
    background-color: red;
    width: 90%;
}

/* footer Line */
.line{
    background-color: white;
    height: 3px;
}